* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.flex-wrapper {
    display: flex;
    padding: 5vh 15vw;
}

.calculator {
    flex-basis: 50%;
    height: 85vh;
    background-color: #566885;
    border: 4px solid rgb(29, 25, 56);
    border-radius: 10px;
    box-shadow: 20px -20px 17px -2px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.calculator-screen_block {
    background-color: white;
    height: 10%;
    border-top: 2px solid rgb(44, 44, 44);
    border-left: 3px solid rgb(59, 59, 59);
    border-bottom: 2px solid rgb(109, 109, 109);
    border-right: 2px solid rgb(128, 128, 128);
    padding: 2vh 1vw;
    text-align: right;
    font-size: 1.5em;
}

.claculator-operators_block {
    margin-right: 20px;
    display: grid;
    min-height: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
    background-color: #d6e1ef;
    padding: 3px;
}

button {
    background-color: #d6e1ef;
    border: 3px solid #566885;
    font-size: 2.2em;
    font-weight: 700;
}

.empty {
    background-color: #566885;
}

.logs {
    flex-basis: 50%;
    padding: 0 20px;
    height: 75vh;
    overflow: auto;
}

.log-block {
    margin: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle {
    border-radius: 50%;
    border: 2px solid red;
    min-width: 30px;
    height: 30px;
}
.circle:hover {
    background-color: red;
}
.red {
    background-color: red;
}

.close {
    font-family: 'Lucida Sans Unicode';
    font-size: 1.8em;
    font-weight: 500;
}
.close::after {
    content: "X";
}

.equation {
    font-size:  1.5em;
    flex-basis: 70%;
    text-align: center;
}