* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
    display: none;
}
.unvisible {
    visibility: hidden;
}

h1 {
    font-style: oblique;
}

input, button {
    border-radius: 29%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
    font-weight: 700;
    border: 1px solid darkblue;
    width: 97px;
    height: 37px;
}
#alertMessage {
    background-color: rgba(228, 228, 228, 0.534);
    font-size: 17px;
    font-weight: 600;
    width: 287px;
    height: 47px;
    padding: 17px;
    color: crimson;
    text-align: center;
    position: absolute;
}

#tweetItems, #modifyItem {
    text-align: center;
}

#list {
    list-style-type: none;
    padding-left: 15%;
    padding-right: 15%;
}

li {  
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
}
li span {  
    font-weight: 450;
    font-size: 18px;
    color: rgb(1, 1, 32);
    flex-grow: 5;
    text-align: left;
    font-family: monospace;
}
.likeTweetButton {
    margin-left: 10px;
    height: 27px;
    width: 60px;
}
.removeTweetButton {
    height: 27px;
    width: 60px;
}

#edition {
    margin-top: 27px;
    text-align: center;
}
#editButtons {
    display: flex;
    justify-content: center;
}
#cancelEditButton{
    display: inline-block;
}
#submitEditButton {
    display: inline-block;
}

.like {
    color:crimson;
    align-self: flex-end;
    flex-grow: 0.01;
}