body {
  background-color: #ffffff;
  margin: 0; }

header {
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 58%;
  height: 600px;
  border-bottom-right-radius: 40%; }
  header div:first-child {
    padding: 0.5% 50% 0 12%; }
    header div:first-child div:first-child {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0; }
      header div:first-child div:first-child p {
        color: #2c2f3c;
        font-family: "Hind", sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 5px; }
        header div:first-child div:first-child p span {
          color: #2c2f3c;
          font-family: "Hind", sans-serif;
          display: block;
          font-size: 0.6rem;
          letter-spacing: 0;
          text-align: center; }

.header_heading, .section_text {
  color: #2c2f3c;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 1.1;
  margin: 0 100px 20px 0;
  height: 100px; }

.header_heading::after, .section_text::after {
  display: block;
  background-color: #14a0c7;
  position: relative;
  text-align: center;
  content: "awesome";
  bottom: 65px;
  width: 240px;
  height: 56px; }

.header_text {
  color: #2c2f3c;
  font-family: "Hind", sans-serif;
  white-space: pre-line;
  font-size: 0.9rem;
  margin-bottom: 57px; }

.header_button, .section_banner_button {
  color: #f3f3f3;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5%;
  width: 120px;
  height: 40px;
  background-color: #699900; }

.login {
  color: #f3f3f3;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5%;
  width: 120px;
  height: 40px;
  margin-left: 130px;
  font-weight: 500; }

.section_text {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px; }

.section_text:after {
  display: block;
  background-color: #14a0c7;
  position: relative;
  text-align: center;
  content: "adventure";
  width: 182px;
  height: 47px;
  left: 50.5%;
  bottom: 44px; }

.section_card {
  text-align: center;
  margin: 10px 25%;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  background-color: #21232e;
  padding: 15px;
  border-radius: 5px; }
  .section_card img {
    border-radius: 5px;
    width: 1000px; }
  .section_card div {
    padding: 7px 75px; }
    .section_card div a {
      color: #f3f3f3;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      border-radius: 5%;
      width: 120px;
      height: 40px;
      color: rgba(243, 243, 243, 0.8);
      font-family: "Hind", sans-serif;
      font-size: 0.9rem;
      font-family: "Source Sans Pro", sans-serif; }
    .section_card div p {
      color: rgba(243, 243, 243, 0.8);
      font-family: "Hind", sans-serif;
      text-align: justify;
      font-size: 0.9rem;
      word-spacing: 4px;
      line-height: 20px; }
    .section_card div p:first-child {
      font-family: "Source Sans Pro", sans-serif;
      text-align: center;
      color: #f3f3f3;
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: -0.5px; }

.section_banner {
  text-align: center;
  background-image: linear-gradient(to right, #699900, #305ecb);
  margin: 0 400px;
  padding: 2px 40px 25px;
  border-radius: 5px;
  position: relative;
  top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .section_banner p:first-child {
    color: #2c2f3c;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 0; }
  .section_banner p:first-child::after {
    display: block;
    background-color: #14a0c7;
    position: relative;
    text-align: center;
    content: "start";
    width: 52px;
    height: 32px;
    bottom: 31px;
    left: 96px; }
  .section_banner p {
    text-align: left;
    color: rgba(243, 243, 243, 0.8);
    font-family: "Hind", sans-serif; }

footer {
  box-sizing: border-box;
  background-color: #21232e;
  height: 200px;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 90px;
  color: rgba(243, 243, 243, 0.8);
  font-family: "Hind", sans-serif;
  font-size: 0.9rem; }
  footer div {
    display: flex;
    justify-content: space-between; }
    footer div p {
      margin: 0;
      width: 300px; }
    footer div div {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      footer div div p {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 5px; }
        footer div div p span {
          display: block;
          font-size: 0.6rem;
          letter-spacing: 0; }
