@mixin button {
        color:$white;
        font-family: $font1;
        font-weight: bold;
        font-size: map-get($font-sizes, "button");
        border: none;
        border-radius: 5%;
        width: 120px;
        height: 40px;
}
@mixin selectedWithBlue {
        display: block;
        background-color: $blue;
        position: relative;
        text-align: center;
}
@mixin darkText {
        color: $colorOfFont;
        font-family: $font2;
}
@mixin brightText {
        color: transparentize($white, 0.2);
        font-family: $font2;
}
@mixin darkBoldText {
        color: $colorOfFont;
        font-family: $font1;
        font-weight: 900;
}
    body {
        background-color: $backgroundColor;
        margin: 0;
    }
    header {
        background: {
            image: $backgroundImg;
            repeat: no-repeat;
            size: cover;
            position: 0 58%;
        }
        height: 600px;
        border-bottom-right-radius: 40%;
        div:first-child {
            padding: 0.5% 50% 0 12%;
            div:first-child{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 0;
                p {
                    @include darkText;
                    font-size: map-get($font-sizes, "logoBig");
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-left: 5px;
                span {
                    @include darkText;
                    display: block;
                    font-size: map-get($font-sizes, "logoSmall");
                    letter-spacing: 0;
                    text-align: center;
                    }
                }
            }
        }
    }
    
    .header_heading {
        @include darkBoldText;
        font-size: map-get($font-sizes, "big");
        line-height: 1.1;
        margin: 0 100px 20px 0;
        height: 100px;
    }
    .header_heading::after{
        @include selectedWithBlue;
        content: "awesome";
        bottom: 65px;
        width: 240px;
        height: 56px;
    }
    .header_text {
        @include darkText;
        white-space: pre-line;
        font-size: map-get($font-sizes, "small");
        margin-bottom: 57px;
    }

    .header_button, .section_banner_button {
        @include button;
        background-color: $green;
    }
    .login {
        @include button;
        margin-left: 130px;
        font-weight: 500;
    }
    .section_text {
        @extend .header_heading;
        text-align: center;
        font-size: map-get($font-sizes, "header");
        margin: 30px;
    }
    .section_text:after{
        @include selectedWithBlue;
        content: "adventure";
        width: 182px;
        height: 47px;
        left: 50.5%;
        bottom: 44px;
    }
    .section_card {
        text-align: center;
        margin: 10px 25%;
        height: 230px;
        display: flex;
        justify-content: space-evenly;
        flex-grow: 1;
        background-color: $darkColor;
        padding: 15px;
        border-radius: 5px;
        img{
            border-radius: 5px;
            width: 1000px;
        }
        div{
            padding: 7px 75px;
            a {
                @include button;
                @include brightText;
                font-size: map-get($font-sizes, "small");
                font-family: $font1;
            }
            p {
                @include brightText;
                text-align: justify;
                font-size: map-get($font-sizes, "small");
                word-spacing: 4px;
                line-height: 20px;
            }
            p:first-child {
                font-family: $font1;
                text-align: center;
                color: $white;
                font-weight: 600;
                font-size: map-get($font-sizes, "logoBig");
                letter-spacing: -0.5px;
            }
        }
    }
    .section_banner {
        text-align: center;
        background-image: linear-gradient(to right, $green, $darkTransparent);
        margin: 0 400px;
        padding: 2px 40px 25px;
        border-radius: 5px;
        position: relative;
        top: 60px;
        display: flex;
        justify-content: space-around;
        align-items:  center;
        p:first-child {
            @include darkBoldText;
            font-size: map-get($font-sizes, "down");
            margin-bottom: 0;
        }
        p:first-child::after{
            @include selectedWithBlue;
            content: "start";
            width: 52px;
            height: 32px;
            bottom: 31px;
            left: 96px;
        }
        p {
            text-align: left;
            @include brightText;
        }
    }

    footer {
        box-sizing: border-box;
        background-color: $darkColor;
        height: 200px;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 90px;
        @include brightText;
        font-size: map-get($font-sizes, "small");
        div {          
            display: flex;
            justify-content: space-between;
            p {
                margin: 0;
                width: 300px;
            }
            div {             
                display: flex;
                justify-content: flex-start;
                align-items: center;               
                 p {                
                    font-size: map-get($font-sizes, "logoBig");
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-left: 5px;
                    span {
                        display: block;
                        font-size: map-get($font-sizes, "logoSmall");
                        letter-spacing: 0;
                        }
                    }                         
                }            
            }
    }

