$font2: 'Fresca', sans-serif;
$font1: 'Source Sans Pro', sans-serif;
$font-sizes: ("logoSmall": 0.6rem, "logoBig": 1.4rem, "small": 0.9rem, "big": 3.6rem,
 "header": 2.5rem, "down": 1.5rem, "button": 1rem);
$colorOfFont: #ffffff;
$blue: #ff4e33;
$green: #e3ac00;
$white: #f3f3f3;
$darkColor: #3b3f50;
$backgroundColor: #21232e;
$darkTransparent: #98364c;
$backgroundImg: url(../img/m-h-night.jpg);