$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$colorOfFont: #2c2f3c;
$blue: #14a0c7;
$green: #699900;
$white: #f3f3f3;
$darkColor: #21232e;
$backgroundColor: #ffffff;
$darkTransparent: #305ecb;
$font-sizes: ("logoSmall": 0.6rem, "logoBig": 1.4rem, "small": 0.9rem, "big": 3.6rem,
 "header": 2.5rem, "down": 1.5rem, "button": 1rem);
$backgroundImg: url(../img/m-h-day.jpg);