.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}
.font-size-2 {
    font-size: 2em;
}
.background-black {
    background-color: #343a40;
}
.background-coral {
    background-color:coral;
}
.color-white {
    color: white;
}
.color-grey {
    color: #525252;
}

