body {
    margin: 0;
}
.header {
    background-image: url(../img/apples.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    color:#FFF;
    padding: 5vh;
    margin-bottom: 0;
    font-family: 'Open Sans';
}
.header_wrapper_nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.header_nav_link {
    font-weight: 500;
    margin: 2vw;
    font-size: 1vw;
}
.logo {
    font-weight: 500;
    letter-spacing: 2.8px;
    font-size: 1vw;
}
.header_wrapper_content {
    margin: 14% 2% 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header_heading {
    font-size: 4.9vw;
    font-weight: 300;
    margin: 0;
    letter-spacing: 8px;
}
.header_heading span {
    font-size: 6.9vw;
    font-weight: 300;
}
.header_text, .header_button {
    font-size: 1.2vw;
}
.button {
    background-color: rgba(0, 0, 0, 0.3);
    color:#FFF;
    border: 3px solid white;
    font-weight: 500;
    font-family: 'Open Sans';
}
.header_button {
    margin: 10% 41%;
    height: 8vh;
    width: 15vw;
    font-size: 1.2vw;
}
main {
    margin-top: 0;
    font-family: 'Open Sans';
}
.section_text_wrapper {
    margin: 10%;
    display: flex;
    justify-content: space-between;
}
#text1, #text2 {
    font-size: 0.9vw;
    text-align: left;
    flex-basis: 50%;
}
#text1 {
    font-size: 1.7vw;
    margin-right: 10%;
}

.main_section {
    background-color: #f3f3f3;
    padding: 90px;
    font-family: 'Open Sans';
    margin: 0 40px;
}
.main_heading {
    text-align: center;
    font-size: 1.7vw;
    margin-bottom: 100px;
}
span {  
    font-weight: bolder;
}
.main_content{
    display: flex;
    margin-bottom: 20px;
}
.main_content_picture {
    flex-basis: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
    padding: 15px;
}
.content_1 {
    background-image: linear-gradient(to right bottom, rgba(255,255,255, 0), rgba(0,0,0, 0.3)),  url(../img/sample.jpg);
}
.main_content_picture_text {
    position: absolute;
    left: 20px;
    bottom: 2px;
    color:#FFF;
    font-family: 'Open Sans';
    font-size: 1.1vw;
}

.main_content_picture_like {
    position: absolute;
    right: 10px;
    height: 40px;
    width: 80px;
    font-weight: bold;
}
.main_content_text {
    flex-basis: 35%;
    text-align: center;
    padding: 17vh 1vw 2vh;
    font-size: 1vw;
    font-weight: 500;
}
.content_2 {
    background-image: linear-gradient(to right bottom, rgba(255,255,255, 0), rgba(0,0,0, 0.4)), url(../img/sample1.jpg);
}
.section_banner {
    display: flex;
    padding: 30px 30px;
    margin: 10px 30px;
    background-color: white;
    height: 70px;
}
.section_banner_text{
    flex-basis: 30%;
    text-align: center;
    font-size: 1.6vw;
    align-self: center;
}
.section_banner_input {
    flex-basis: 62%;
    border: 1px solid black;
    padding: 5px 15px;
    font-family: 'Open Sans';
    font-size: 0.8vw;
    color: black;
}
.section_banner_button {
    flex-basis: 8%;
    background-color: #343638;
    color:#FFF;
    font-family: 'Open Sans';
    font-size: 0.9vw;
    font-weight: 500;
    border: none;
}
.footer_first, .footer_second {
    display: flex;
    margin: 80px 130px;
}
.footer_content {
    flex-basis: 25%;
    font-family: 'Open Sans';
    font-size: 1vw; 
}
.footer_content_header {
    font-weight: 600; 
}
.footer_content_text {
    color: #9e9e9e;
}
#footer_1, #footer_2{
    margin-right: 20px;
}
#footer_2 .footer_content_text{
    font-style: italic;
}
#footer_3 .footer_content_text{
    padding-right: 170px;
}
.footer_content_time {
    color: #e8e8e8;
}
.footer_wrapper {
    display: flex;
    height: 40px;
}
.footer_input {
    flex-basis: 75%;
    border: 1px solid black;
    padding-left: 10px;
}
.footer_button {
    flex-basis: 25%;
    background-color: #343638;
    color:#FFF;
    font-family: 'Open Sans';
    font-size: 0.8vw;
    font-weight: 500;
    border: none;
}
.footer_second {
    justify-content: space-between;
    padding-top: 30px;
    font-family: 'Open Sans';
    font-size: 0.9vw;
    border-top: 4px solid #f3f3f3;
}
.footer_nav_link {
    margin: 1vw;
    font-weight: 500;
}
.footer_copyright {
    color: #9e9e9e;
    font-weight: 500;
}