html {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.rules-section {
    background-color: rgba(47, 168, 172, 0.801);
    margin-bottom: 30px;
    width: 100%;
    padding: 5vh 0;
}
.rules-section .logo {
    display: flex;
    justify-content: center;
}
.rules-section .logo .icon {
    max-width: 50px;
    max-height: 50px;
    color: #585858;
    margin: 5px;
}
.rules-section .logo .icon:hover {
    color: rgba(199, 199, 199, 0.49);
}
.rules-section .header-small {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #585858;
    font-weight: 300;
    letter-spacing: 10px;
}
.rules-section .rules {
    list-style-type: none;
    letter-spacing: 6px;
    font-weight: 400;
    font-size: 0.7em;
    text-align: center;
    padding: 10px 30vw;
}
.rules-section .rules .rule {
    background-color: rgba(255, 255, 255, 0.5);
    color: #585858;
    margin: 0;
    border: 2px solid rgba(47, 168, 172, 0.801);
    border-radius: 5px;
    padding: 0 20px;
}
.rules-section .rules .rule:hover {
    color: black;
}
.rules-section .rules-header {
    text-align: center;
    color: #585858;
    font-weight: 600;
    letter-spacing: 7px;
}
.rules-section .rules-header:hover {
    color: white;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.buttons button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: smaller;
    flex-basis: calc(100%/3 - 20px);
    margin: 5px;
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #585858;
}
.buttons button:hover {
    color: #cacaca;
}
.buttons button.reset {
    background-color: transparent;
    border: 3px solid #585858;
    color: #585858;
}
.buttons button.reset:hover {
    border: 3px solid #313131;
    background-color: transparent;
    color: #363636;
}
.icon-button {
    max-width: 30%;
    max-height: 70%;
    color: white;
}
