html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
main {
  margin: 0;
}
.wrapper {
  display: flex;
}
.navbar {
  position: fixed;
  right: 0;
  margin: 3vh 10vw;
  display: flex;
  justify-content: space-between; 
  align-content: center;
}
.logo {
  margin: auto;
  position: fixed;
  left: 10vw;
}
.navbar_list {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  margin: 7px;
  color: #363636;
  font-weight: 800;
}
.nav-link:hover {
  color:#0078aa
}
.header {
  height: 74vh;
  background-image: url(../img/lady.jpg);

}
.header_content {
  margin: 0 10vw;
  padding: 25vh 40vw 0 0;
  flex-direction: column;
}
.header-heading {
  font-size: 3em;
}
.header-text {
  color: #949494;
  font-size: 1.2em;
  margin-bottom: 30px;
}
.icon {
  color: #fff;
  height: 70%;
  width: 5vh;
  border: 1px solid #0078aa;
  border-radius: 100%;
  background-color: #0078aa;
  padding: 10px;
  margin-right: 25px;
}
.icon:hover {
  background-color: #fff;
  color: #0078aa;
  border-color: #0078aa; 
}
.section-about {
  justify-content:space-evenly;
  margin-bottom: 7vh;
}
.arrow {
  color: #0078aa;
  font-weight: 900;
  font-size: 1.3em;
}
.section-about_left {
  flex-basis: 50%;
}
.section-about__left-picture {
  margin: auto;
  max-width: 100%;
  height: auto;
}
.section-about_text {
  padding-top: 10vh;
  flex-basis: 50%;
  max-width: 100%;
  height: auto;
}
.section-about_text_heading {
  font-size: 3em;
  margin-bottom: 0;
}
.section-about_text_notation {
  color: #0078aa;
  font-weight: 500;
}

.section-about_text_content_heading {
  display: inline;
}
.section-about_text_content_text {
  padding-right: 25vw;
}
.arrow_up {
  font-size: 1em;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 3vh;
  width: 3vh;
}
.section-help {
  background-image: url(../img/services_bg.jpg);
  background-size: cover;
  height: 70vh;
  padding: 10vh 0;
  margin-bottom: 40px;
}
.section_heading {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
}
.section_notation {
  text-align: center;
  font-weight: 500;
}
.section-help_content {
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.section-help_part {
  flex-basis: 22%;
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 1em;
  font-weight: 500;
}
.section-help_part-bold {
  font-weight: 600;
  font-size: 1.2em;
}
.section-offers {
  background-image: url(../img/pricing_bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.offers {
  justify-content: center;
  margin: 12vh 12vw;
}
.offer {
  flex-basis: 30%;
  background-color: #47c9e5;
  color: #fff;
  text-align: center;
  padding: 3vh 1vw;
  height: 60vh;
  align-self: center;
  
}
.offer h3 {
  font-size: 1.8em;
}
.price {
  font-size: 4em;
  font-weight: 900;
  margin: 0;
  padding-bottom: 0;
}
.feature {
  margin: 3vh;
}
.treatments {
  font-style: italic;
  font-weight: 500;
  padding-top: 0;
}
.offer button {
  background-color: #fff;
  color: #0078aa;
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid #0078aa;
  border-radius: 15px;
  height: 6vh;
  width: 7vw;
}
.offer button:hover {
  background-color: #0078aa;
  color: #fff;
}
.offer:hover {
  border: 2px solid #0078aa;
  background-color: #fff;
  color: #0078aa;
  height: 67vh;
  align-self: center;
  padding: 6vh 1vw 1vh;
}
.section-appointment_left {
  flex-basis: 50%;
}
.section-appointment__image {
  margin: auto;
  max-width: 100%;
  height: auto;
}
.section-appointment__text {
  flex-direction: column;
  padding: 70px 0;
  flex-basis: 50%;
  margin-left: 15px;
}
.section-appointment__input {
  margin: 0 0 15px 15px;
  height: 5vh;
  border: none;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.section-appointment__input:placeholder-shown{
  font-style: italic;
  font-weight: 600;
}
.section-appointment__button {
  background-color: #0078aa;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid #0078aa;
  border-radius: 15px;
  height: 6vh;
  width: 7vw;
}
.section-appointment__button:hover {
  background-color: #fff;
  color: #0078aa;
}
.section-appointment__heading, .section-appointment__notation {
  text-align: left;
}

.footer {
  background-color: #363636;
  color: #fff;
  margin: 0;
  height: 8vh;
}
.footer__text {
  margin: auto;
  font-size: 1.3em;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .navbar_list, .header, .wrapper.header_content{
    margin-left: 0;
    padding-left: 0;
  }
  .navbar {
    margin: 0;
  }
  .logo {
    left: 0;
  }
  .header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right 60%;
    height: 60vh;
  }
  .header_content {
    padding: 20vw 20vh;
  }
  .header-heading {
    font-size: 2em;
  }
  .header-text {
    font-size: 0.9em;
    margin-bottom: 30px;
  }
  .section-about_text {
    padding-top: 0;
  }
  .section-about_text_heading {
    font-size: 2em;
  }
  .section-about_text_content_text {
    padding-right: 0;
    font-size: 0.9em;
    margin: 0;
  }
  .section-help {
    padding: 5vh 0 0 0;
  }
  .section_heading {
    font-size: 2em;
  }
  .section-help_part {
    flex-basis: 27%;
    padding: 10px;
    font-size: 0.8em;
  }
  .section-offers {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center right 40%;
    height: 70vh;
  }
  .offers {
    margin: 0 5vw;
  }
  .offers.wrapper {
    margin: 2px;
  }
  .offer {
    padding: 3vh 1vw;
    height: 50vh;   
  }
  .offer h3 {
    font-size: 1.4em;
  }
  .price {
    font-size: 3.3em;
  }
  .feature {
    margin: 2vh;
  }
  .offer button {
    font-size: 1em;
    height: 5vh;
    width: 15vw;
  }
  .offer:hover {
    height: 53vh;
  }
  .section-appointment__image {
    object-fit: cover;
    object-position: 20% 0;
    max-width: 100%;
    height: 100%;
  }
  .section-appointment__button {
    font-size: 1em;
    height: 6vh;
    width: 14vw;
  }
}
@media (max-width: 767px){
  .navbar {
    top: 2vh;
    flex-direction: column;
  }
  .logo {
    top: 1vh;
    left: 50%;
  }
  .nav-link {
    font-size: 3vw;
  }
  .header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left 27%;
    height: 40vh;
  }
  .wrapper.header_content {
    margin: 20vw 0 0;
  }
  .header_content {
    text-align: center;
    padding: 10vh 2vw 0;
  }
  .header-heading {
    font-size: 2.4em;
    margin: 0 25vw 0 0;
  }
  .header-text {
    font-size: 0.9em;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .header-icons {
    justify-content: space-evenly;
  }
  .icon {
    width: 6vw;
    margin-right: 5px;
  }
  .section-about {
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
  }
  .section-about_text {
    padding-top: 0;
  }
  .section-about_text_heading {
    font-size: 2em;
    margin-bottom: 0;
  }
  .section-about_text_notation {
    font-size: 0.9em;
  }
  .section-about_text_content_text {
    padding-right: 0;
    font-size: 0.85em;
  }
  .section-help {
    padding-top: 2vh;
    height: 100%;
  }
  .section-help_heading {
    font-size: 2em;
  }
  .section-help_part {
    flex-basis: 100%;
    padding: 15px;
    font-size: 0.9em;
  }
  .section-offers {
    background: none;
    height: 100%;
  }
  .offers {
    margin: 0;
  }
  .offers.wrapper {
    margin: 0;
    flex-direction: column;
  }
  .offer {
    width: 100%;
    height: auto; 
    margin-bottom: 2vh; 
  }
  .offer button {
    width: 30vw;
  }
  .offer:hover {
    width: 100%;
    height: auto;
    align-self:center;
    padding: 3vh 1vw;
  }
  .section-appointment {
    flex-direction: column;
  }
  .section-appointment__heading, .section-appointment__notation {
    text-align: center;
    padding: 0 10vw;
  }
  .section-appointment__text {
    flex-direction: column;
    padding: 3vh 5vw;
    flex-basis: 50%;
    margin-left: 15px;
  }
  .section-appointment__button {
    margin: auto;
    font-size: 1em;
    height: 5vh;
    width: 25vw;
  }
}